.Alinhador {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;

    .Caixa {
        display: flex;
        width: 50%;
        height: 50vh;
        background-color: #DE1035;
        border-radius: 2vh;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.671);

        .LadoEsquerdo {
            display: flex;
            justify-content: center;
            padding: 3vh;
            flex-direction: column;
            width: 50%;
        }

        .LadoDireito {
            display: flex;
            justify-content: center;
            padding: 3vh;
            flex-direction: column;
            width: 50%;

            input {
                height: 5vh;
                border: 0.2vh rgb(255, 255, 255) solid;
                outline: none;
                padding: 1vh;
                margin-bottom: 1vh;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.671);
                border-radius: 1vh;
            }

            h3 {
                color: white;
            }

            label {
                color: white;
            }

            button {
                display: flex;
                border-radius: 1vh;
                margin-top: 1vh;
                height: 5vh;
                padding: 1vh;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.671);
                align-items: center;
                justify-content: center;
                border: 0.2vh rgb(255, 255, 255) solid;
                outline: none;
                font-weight: 700;
                font-size: 2vh;
            }

            button:hover {
                cursor: pointer;
            }

            h2 {
                color: white;
                margin-top: 2vh;
            }
        }
    }
}